.idea
.vagrant
*.log
*.tfstate.*
*.tfstate
*.terraform
ssh-init.csv
*.retry
node_modules
package-lock.json
generated-*
bower_components
*.lock
infra/config.yml
build/
infra-state-test.json
state.json
health.json
config.tf
vm*.tf
ubuntu-xenial*
dist
built
Vagrantfile
coverage
.nyc_output
.scannerwork
infrastructure-manager/client/logs/*.log
